<button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">Create a task</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearAlerts()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <app-alert class="p-3" [alertComponentId]="componentId"></app-alert>

        <div class="row p-3 justify-content-around">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button (click)="setToAnimalTask()" type="radio" class="btn btn-secondary">Animal Task</button>
            <button (click)="setToEnclosureTask()" type="radio" class="btn btn-secondary">Enclosure Task</button>
          </div>

        </div>
        <div class="row p-3">
          <div class="col">
            <form [formGroup]="taskCreationForm" (ngSubmit)="taskSubmitted()">
              <div class="row">
                <div class="form-group col-12">
                  <label for="inputTitle">Title</label>
                  <input type="text" name="title" formControlName="title" class="form-control" id="inputTitle"
                         aria-describedby="TitleHelp" placeholder="Enter Task Title">
                  <div *ngIf="submittedTask && taskCreationForm.controls.title.errors" class="error">
                    <small class="form-text text-warning" *ngIf="taskCreationForm.controls.title.errors.required">
                      Title cannot be empty
                    </small>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="inputDescription">Description</label>
                  <textarea type="text" name="description" formControlName="description" class="form-control"
                            id="inputDescription"
                            aria-describedby="descriptionHelp" placeholder="Enter Task description"></textarea>
                  <div *ngIf="submittedTask && taskCreationForm.controls.description.errors" class="error">
                    <small class="form-text text-warning" *ngIf="taskCreationForm.controls.description.errors.required">
                      Description cannot be empty
                    </small>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label for="inputStartTime">Start-Time</label>
                  <input type="datetime-local" name="startTime" formControlName="startTime" class="form-control"
                         id="inputStartTime"
                         aria-describedby="startTimeHelp" placeholder="Enter Start-Time">
                  <div *ngIf="submittedTask && taskCreationForm.controls.startTime.errors" class="error">
                    <small class="form-text text-warning" *ngIf="taskCreationForm.controls.startTime.errors.required">
                      Start-Time cannot be empty
                    </small>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label for="inputEndTime">End-Time</label>
                  <input type="datetime-local" name="endTime" formControlName="endTime" class="form-control"
                         id="inputEndTime"
                         aria-describedby="endTimeHelp" placeholder="Enter Start Time">
                  <div *ngIf="submittedTask && taskCreationForm.controls.endTime.errors" class="error">
                    <small class="form-text text-warning" *ngIf="taskCreationForm.controls.endTime.errors.required">
                      End-Time cannot be empty
                    </small>
                  </div>
                </div>

                <!--                Subject Selection-->
                <div *ngIf="isAnimalTask == true" class="form-group col-6 select-animal">
                  <label for="animalId">Select Animal</label>
                  <select (change)="getEmployeesOfAnimal()" name="animalId" formControlName="subjectId"
                          class="form-control" id="animalId"
                          aria-describedby="animalIdHelp">
                    <option disabled [ngValue]="null">Select animal</option>
                    <ng-container *ngIf="animalsOfEmployee!=null">
                      <option *ngFor="let animal of animalsOfEmployee" [ngValue]="animal.id">{{animal.name}}
                        ; {{animal.species}}</option>
                    </ng-container>
                  </select>
                  <div *ngIf="submittedTask && taskCreationForm.controls.subjectId.errors" class="error">
                    <small class="form-text text-warning" *ngIf="taskCreationForm.controls.subjectId.errors.required">
                      Animal cannot be empty
                    </small>
                  </div>
                </div>

                <div *ngIf="isEnclosureTask" class="form-group col-6 select-Enclosure">
                  <label for="enclosureId">Select Enclosure</label>
                  <select (change)="getEmployeesOfEnclosure()" name="animalId" formControlName="subjectId"
                          class="form-control" id="enclosureId"
                          aria-describedby="animalIdHelp">
                    <option disabled [ngValue]="null">Select Enclosure</option>
                    <ng-container *ngIf="enclosuresOfEmployee!=null">
                      <option *ngFor="let enclosure of enclosuresOfEmployee" [ngValue]="enclosure.id">{{enclosure.id}}
                        ; {{enclosure.name}}</option>
                    </ng-container>
                  </select>
                  <div *ngIf="submittedTask && taskCreationForm.controls.subjectId.errors" class="error">
                    <small class="form-text text-warning" *ngIf="taskCreationForm.controls.subjectId.errors.required">
                      Enclosure cannot be empty
                    </small>
                  </div>
                </div>

                <div class="form-group col-6">
                  <label for="assignedEmployeeUsername">Assign to Employee</label>

                  <select name="assignedEmployeeUsername" formControlName="assignedEmployeeUsername"
                          class="form-control" id="assignedEmployeeUsername"
                          aria-describedby="assignedEmployeeUsernameHelp">
                    <option disabled [ngValue]="null">Select employee</option>
                    <ng-container *ngIf="employeesFound">
                      <option *ngFor="let employee of employeesOfTaskSubject;" [ngValue]="employee.username">
                        {{employee.username}}; {{employee.name}}; caretaker
                      </option>
                    </ng-container>
                    <ng-container *ngIf="isAnimalTask">
                      <option *ngFor="let doctor of doctors" [ngValue]="doctor.username">
                        {{doctor.username}}; {{doctor.name}}; doctor
                      </option>
                    </ng-container>
                    <ng-container *ngIf="isEnclosureTask">
                      <option *ngFor="let janitor of janitors" [ngValue]="janitor.username">
                        {{janitor.username}}; {{janitor.name}}; janitor
                      </option>
                    </ng-container>
                  </select>
                  <div *ngIf="submittedTask && taskCreationForm.controls.assignedEmployeeUsername.errors" class="error">
                    <small class="form-text text-warning"
                           *ngIf="taskCreationForm.controls.assignedEmployeeUsername.errors.required">
                      Employee cannot be empty
                    </small>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="taskSubmitted()" class="btn btn-success col">Create Task</button>
        <button type="button" (click)="priorityTaskSubmitted()" class="btn btn-warning col">Create Priority Task</button>
      </div>
      <div class="modal-footer justify-content-around">
        <button type="button" class="btn btn-secondary" data-dismiss="modal col" (click)="clearAlerts()">Close</button>
      </div>
    </div>
  </div>
</div>
