<div class="row mt-3 justify-content-end">
  <div class="col-12 my-2">
    <div class="row justify-content-end mx-1">
      <button *ngIf="isAdmin()" class="btn-sm mr-1 btn btn-secondary" type="button"
              (click)="backClicked()">BACK
      </button>
    </div>
  </div>
</div>

<div class="row justify-content-around">
  <div class="col-12">
    <div *ngIf="employee!=null" class="info" style="width: 30rem;">
      <div class="info-body">
        <h5 *ngIf="employee.username!=null" class="info-title">Username: {{employee.username}}</h5>
        <h6 *ngIf="employee.name!=null" class="info-title">Name: {{employee.name}}</h6>
        <h6 *ngIf="employee.type!=null" class="info-subtitle mb-2 ">Role: {{employee.type}}</h6>
        <p *ngIf="employee.email!=null" class="info-text">E-mail: {{employee.email}}</p>
        <p *ngIf="employee.birthday!=null" class="info-text">Birthday: {{displayDate(employee.birthday)}}</p>
        <p *ngIf="employee.workTimeStart!=null" class="info-text">Work-time start: {{employee.workTimeStart}}</p>
        <p *ngIf="employee.workTimeEnd!=null" class="info-text">Work-time end: {{employee.workTimeEnd}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="employee!=null && employee.type=='ANIMAL_CARE'" class="col-12 my-2">
    <div
      class="row d-flex justify-content-start mx-0 ">
      <app-task-creation (reloadTasks)="loadTasksOfEmployee()" [currentEmployee]="employee"
                         [animalsOfEmployee]="assignedAnimals"
                         [enclosuresOfEmployee]="enclosuresOfEmployee"></app-task-creation>
    </div>
    <button *ngIf="!isAdmin()" type="button" (click)="toChangePassword()" class="btn btn-success m-1 ">Change Password
    </button>
  </div>
</div>

<app-delete-warning *ngIf="isAdmin()"
                    (deleteSubject)="deleteEmployee()"
                    (editSubject)="editEmployee()"
                    [deletionSubjectType]="'Employee'"
                    [readableSubjectIdentifier]="employee.username"
                    [delBtnText]="'Delete Employee'"
                    [showEditOrDeleteButton]="true"
                    class="btn"
></app-delete-warning>

<!--<div *ngIf="isAdmin()">-->

<!--  <div class="btn-group">-->
<!--    <ng-container *ngIf="btnIsEdit">-->
<!--      <button type="button" class="btn-group btn btn-info" (click)="editEmployee()">Edit</button>-->
<!--      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">-->
<!--        <button class="btn-group btn btn-info dropdown-toggle-split" ngbDropdownToggle></button>-->
<!--        <div class="dropdown-menu" ngbDropdownMenu>-->
<!--          <button ngbDropdownItem (click)="toEditButton()">Edit</button>-->
<!--          <button ngbDropdownItem (click)="toDeleteButton()">Delete</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="btnIsDelete">-->
<!--      <app-delete-warning *ngIf="isAdmin()"-->
<!--                          (deleteSubject)="deleteEmployee()"-->
<!--                          (editSubject)="editEmployee()"-->
<!--                          [deletionSubjectType]="'Employee'"-->
<!--                          [readableSubjectIdentifier]="employee.username"-->
<!--                          [delBtnText]="'Delete Employee'"-->
<!--                          [showEditOrDeleteButton]="true"-->
<!--                          class="btn"-->
<!--      ></app-delete-warning>-->
<!--      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">-->
<!--        <button class="btn-group btn btn-danger dropdown-toggle-split" ngbDropdownToggle></button>-->
<!--        <div class="dropdown-menu" ngbDropdownMenu>-->
<!--          <button ngbDropdownItem (click)="toEditButton()">Edit</button>-->
<!--          <button ngbDropdownItem (click)="toDeleteButton()">Delete</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--  </div>-->
<!--</div>-->

<!--
<div class="col-12 my-2">
  <div
    class="row d-flex justify-content-start mx-0 ">
    <app-delete-warning *ngIf="isAdmin()" (deleteSubject)="deleteEmployee()"
                        [deletionSubjectType]="'Employee'"
                        [readableSubjectIdentifier]="employee.username"
                        [delBtnText]="'Delete Employee'"
    ></app-delete-warning>

  </div>
</div>
-->

<hr>
<div class="row">
  <div class="col">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="toAnimalMode()" *ngIf="this.employee!=null && this.employee.type=='ANIMAL_CARE'" type="button"
              class="btn btn-dark">Assigned Animals
      </button>
      <button (click)="toTaskMode()" type="button" class="btn btn-dark">Assigned Tasks</button>
    </div>
  </div>
</div>

<ng-container *ngIf="employee!=null && employee.type=='ANIMAL_CARE' && animalListMode">
  <div class="row">
    <div class="col-lg-12" *ngIf="assignedAnimals != null && assignedAnimals.length != 0">
      <app-animal-list [animals]="assignedAnimals"></app-animal-list>
    </div>
  </div>
  <ng-container *ngIf="isAdmin()">
    <div class="row my-3">
      <div class="col-lg-12">
        <h5>Assign new Animals:</h5>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="form-group">
          <select class="animal-select form-control" [(ngModel)]="selectedAnimal" name="selectedAnimal">
            <option disabled [ngValue]="null">Select animal to assign</option>
            <option *ngFor="let animal of animalList" [ngValue]="animal">{{animal.name}}; {{animal.species}}</option>
          </select>
        </div>

        <button type="button" (click)="assignAnimal()" class="btn btn-success m-1 ">Assign</button>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="employee!=null && taskListMode">
  <div class="row mb-4">
    <div class="col-lg-12">
      <app-task-list-common [enclosuresOfEmployee]="enclosuresOfEmployee" [animalsOfEmployee]="assignedAnimals"
                            [currentUserType]="currentUserType" (reloadTasks)="loadTasksOfEmployee()"
                            [tasks]="tasks"></app-task-list-common>
    </div>
  </div>
</ng-container>
